USE [BlogEngine]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,8-nov-2017>
-- Description:	<Description,Gets all categories>
-- =============================================

-- Exec sp_GetAllCategories '1'

CREATE PROCEDURE [dbo].[sp_GetAllCategories]

AS
BEGIN
	
	SET NOCOUNT ON;

	select CategoryId,CategoryName,CategoryUrlSlug,CategoryDescription from Category 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPosts]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,KrishnaVamsi Gudivada>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets all posts with category and tags data>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetAllPosts]
AS
BEGIN
	SET NOCOUNT ON;

    select p.postid,p.title,p.shortdescription,p.postdescription,p.postmeta,p.posturlslug,p.ispublished,p.postedon,p.createdby,
	p.createddate,p.poststatus,p.ModifiedDate,p.CategoryId
	from post p inner join category c on c.categoryid=p.categoryid
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTags]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,8-nov-2017>
-- Description:	<Description,Gets all Tags>
-- =============================================

-- Exec sp_GetAllTags 

CREATE PROCEDURE [dbo].[sp_GetAllTags]

AS
BEGIN
	
	SET NOCOUNT ON;

	select TagId,TagName,TagUrlSlug,TagDescription from Tag 
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUserDetails]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,3-nov-2017>
-- Description:	<Description,To get all user details>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetAllUserDetails]
AS
BEGIN
	SET NOCOUNT ON;
	
	select * from Users

END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryById]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets Category by Category UrlSlug>
-- =============================================

-- Exec sp_GetCategoryById '1'

CREATE PROCEDURE [dbo].[sp_GetCategoryById]
	@categoryId bigint=0
AS
BEGIN
	
	SET NOCOUNT ON;

	select CategoryId,CategoryName,CategoryUrlSlug,CategoryDescription from Category where CategoryId=@categoryId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByCategory]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets posts based  on categoryid>
-- =============================================

-- Exec sp_GetPostsByCategory 1

CREATE PROCEDURE [dbo].[sp_GetPostsByCategory] 
	@categoryId bigint=0
AS
BEGIN
	SET NOCOUNT ON;

    select p.postid,p.title,p.shortdescription,p.postdescription,p.postmeta,p.posturlslug,p.ispublished,p.postedon,p.createdby,
	p.createddate,p.poststatus,p.ModifiedDate,p.CategoryId
	from post p inner join category c on c.categoryid=p.categoryid
	where c.CategoryId=@categoryId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByPostId]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,8-nov-2017>
-- Description:	<Description,Gets all posts based on PostId>
-- =============================================

-- Exec sp_GetPostsByPostId '1'

CREATE PROCEDURE [dbo].[sp_GetPostsByPostId] 
	@postId bigint=0
AS
BEGIN

	SET NOCOUNT ON;

	SELECT postid,title,shortdescription,postdescription,postmeta,posturlslug,ispublished,postedon,createdby,
	createddate,poststatus,ModifiedDate,CategoryId
	from post where PostId=@postId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsBySearch]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets all posts based on search text>
-- =============================================

-- Exec sp_GetPostsBySearch 'Javasc'

CREATE PROCEDURE [dbo].[sp_GetPostsBySearch] 
	@searchText nvarchar(100)=null
AS
BEGIN

	SET NOCOUNT ON;

	SELECT postid,title,shortdescription,postdescription,postmeta,posturlslug,ispublished,postedon,createdby,
	createddate,poststatus,ModifiedDate,CategoryId
	from post where Title like '%'+@searchText+'%'
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByTagId]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets all posts based on tag>
-- =============================================

-- Exec sp_GetPostsByTagSlug 'html'

CREATE PROCEDURE [dbo].[sp_GetPostsByTagId]
	@tagId bigint=0
AS
BEGIN
	SET NOCOUNT ON

	 select p.postid,p.title,p.shortdescription,p.postdescription,p.postmeta,p.posturlslug,p.ispublished,p.postedon,p.createdby,
		p.createddate,p.poststatus,p.ModifiedDate,p.CategoryId
		from post p inner join PostTagMap PTM on PTM.PostId=p.PostId inner join Tag t on t.TagId=PTM.TagId
		where t.TagId=@tagId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetTagByTagId]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets tag by tagslug>
-- =============================================

-- Exec sp_GetTagByTagId 1

CREATE PROCEDURE [dbo].[sp_GetTagByTagId]
	@tagId bigint=0
AS
BEGIN
	SET NOCOUNT ON;

    select TagId,TagName,TagUrlSlug,TagDescription from Tag where TagId=@tagId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetTagsByPostId]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets all tag names based on postid>
-- =============================================

-- Exec sp_GetTagsByPostId 1

CREATE PROCEDURE [dbo].[sp_GetTagsByPostId]
	@postId bigint=0
AS
BEGIN
	SET NOCOUNT ON;

	SELECT T.TagId,T.TagName,T.TagUrlSlug,T.TagDescription from Tag T
	inner join PostTagMap PTM on PTM.TagId=T.TagId 
	inner join Post P on PTM.PostId=P.PostId where P.PostId=@postId
END

GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](225) NOT NULL,
	[CategoryUrlSlug] [nvarchar](225) NOT NULL,
	[CategoryDescription] [nvarchar](225) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Post]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](225) NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[PostDescription] [nvarchar](max) NULL,
	[PostMeta] [nvarchar](225) NOT NULL,
	[PostUrlSlug] [nvarchar](225) NULL,
	[IsPublished] [bit] NOT NULL,
	[PostedOn] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [nvarchar](225) NULL,
	[CreatedDate] [datetime] NULL,
	[PostStatus] [int] NULL,
	[CategoryId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTagMap]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTagMap](
	[PostId] [bigint] NOT NULL,
	[TagId] [bigint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](30) NOT NULL,
	[RoleDescription] [nvarchar](225) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tag]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagId] [bigint] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](225) NOT NULL,
	[TagUrlSlug] [nvarchar](225) NOT NULL,
	[TagDescription] [nvarchar](225) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/8/2017 8:37:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [int] NOT NULL,
	[UserStatus] [int] NULL,
	[Gender] [nvarchar](20) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Designation] [nvarchar](100) NULL,
	[RegistrationDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryUrlSlug], [CategoryDescription]) VALUES (1, N'First Category', N'first-ategory', N'this is first category buddy')
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryUrlSlug], [CategoryDescription]) VALUES (2, N'Programming', N'programming', NULL)
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryUrlSlug], [CategoryDescription]) VALUES (3, N'Humor', N'humor', NULL)
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

GO
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
INSERT [dbo].[PostTagMap] ([PostId], [TagId]) VALUES (1, 1)
GO
INSERT [dbo].[PostTagMap] ([PostId], [TagId]) VALUES (1, 3)
GO
INSERT [dbo].[PostTagMap] ([PostId], [TagId]) VALUES (2, 1)
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

GO
INSERT [dbo].[Tag] ([TagId], [TagName], [TagUrlSlug], [TagDescription]) VALUES (1, N'CSharp', N'csharp', NULL)
GO
INSERT [dbo].[Tag] ([TagId], [TagName], [TagUrlSlug], [TagDescription]) VALUES (2, N'ASP', N'asp', NULL)
GO
INSERT [dbo].[Tag] ([TagId], [TagName], [TagUrlSlug], [TagDescription]) VALUES (3, N'ASP.NET', N'asp_net', NULL)
GO
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [UserName], [Password], [Role], [UserStatus], [Gender], [Country], [Designation], [RegistrationDate]) VALUES (1, N'Raviteja', N'Swayampu', N'ravitejaswayampu@gmail.com', N'welcome', 1, NULL, N'Male', N'India', N'Web Developer', CAST(0x0000A82000000000 AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[PostTagMap]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[PostTagMap]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([TagId])
GO
