USE [BlogEngine]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCategories]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,8-nov-2017>
-- Description:	<Description,Gets all categories>
-- =============================================

-- Exec sp_GetAllCategories '1'

CREATE PROCEDURE [dbo].[sp_GetAllCategories]

AS
BEGIN
	
	SET NOCOUNT ON;

	select C.CategoryId,C.CategoryName,C.CategoryUrlSlug,C.CategoryDescription,
	(select count(postId) from Post where CategoryId=C.CategoryId) as postcount
	 from Category C
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllPosts]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,KrishnaVamsi Gudivada>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets all posts with category and tags data>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetAllPosts]
AS
BEGIN
	SET NOCOUNT ON;

    select p.postid,p.title,p.shortdescription,p.postdescription,p.postmeta,p.posturlslug,p.ispublished,p.postedon,p.createdby,
	p.createddate,p.poststatus,p.ModifiedBy,p.ModifiedDate,p.CategoryId,p.UserId
	from post p inner join category c on c.categoryid=p.categoryid
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRoles]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,14-nov-2017>
-- Description:	<Description,Gets all roles from database>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetAllRoles]
	
AS
BEGIN
	SET NOCOUNT ON;

	SELECT RoleId,RoleName,RoleDescription from Roles
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllTags]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,8-nov-2017>
-- Description:	<Description,Gets all Tags>
-- =============================================

-- Exec sp_GetAllTags 

CREATE PROCEDURE [dbo].[sp_GetAllTags]

AS
BEGIN
	
	SET NOCOUNT ON;

	select T.TagId,T.TagName,T.TagUrlSlug,T.TagDescription,Count(P.PostId) as PostCount 
	from Tag T inner join PostTagMap PTM on PTM.TagId=T.TagId
	inner join Post P on P.PostId=PTM.PostId group by T.TagId,T.TagName,T.TagUrlSlug,T.TagDescription
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUserDetails]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,3-nov-2017>
-- Description:	<Description,To get all user details>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetAllUserDetails]
AS
BEGIN
	SET NOCOUNT ON;
	
	select U.UserId,U.FirstName,U.LastName,U.UserName,U.Password,R.RoleName as Role,U.UserStatus,U.Gender,U.Country,U.Designation,
	U.RegistrationDate,(select count(PostId) from Post where UserId=U.UserId) as PostCount
	from Users U inner join Roles R on R.RoleId=U.Role

END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetCategoryById]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets Category by Category UrlSlug>
-- =============================================

-- Exec sp_GetCategoryById '1'

CREATE PROCEDURE [dbo].[sp_GetCategoryById]
	@categoryId bigint=0
AS
BEGIN
	
	SET NOCOUNT ON;

	select C.CategoryId,C.CategoryName,C.CategoryUrlSlug,C.CategoryDescription,
	(select count(postId) from Post where CategoryId=C.CategoryId) as postcount
	 from Category C where C.CategoryId=@categoryId
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetCurrentUser]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,9-nov-2017>
-- Description:	<Description,Get Current user>
-- =============================================

-- Exec sp_GetCurrentUser 'ravi','welcome'

CREATE PROCEDURE [dbo].[sp_GetCurrentUser]
	@userId bigint=0,
	@userName nvarchar(100)=null,
	@password nvarchar(100)=null
AS
BEGIN
	
	SET NOCOUNT ON;

	IF(@userId>0)
	
	BEGIN
		select U.UserId,U.FirstName,U.LastName,U.UserName,U.Password,R.RoleName as Role,U.UserStatus,U.Gender,
		U.Country,U.Designation,U.RegistrationDate from Users U inner join Roles R on R.RoleId=U.Role
		where U.UserId=@userId
	END
	ELSE
	BEGIN
		select U.UserId,U.FirstName,U.LastName,U.UserName,U.Password,R.RoleName as Role,U.UserStatus,U.Gender,
		U.Country,U.Designation,U.RegistrationDate from Users U inner join Roles R on R.RoleId=U.Role
		where U.UserName=@userName and U.Password=@password
	END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostIdByUrlSlug]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,29-nov-2017>
-- Description:	<Description,To get postid by postUrlSlug>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetPostIdByUrlSlug]
	@postUrlSlug nvarchar(100)=0
AS
BEGIN	

	SELECT PostId FROM Post where PostUrlSlug=@postUrlSlug
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByCategory]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets posts based  on categoryid>
-- =============================================

-- Exec sp_GetPostsByCategory 1

CREATE PROCEDURE [dbo].[sp_GetPostsByCategory] 
	@categoryId bigint=0
AS
BEGIN
	SET NOCOUNT ON;

    select p.postid,p.title,p.shortdescription,p.postdescription,p.postmeta,p.posturlslug,p.ispublished,p.postedon,p.createdby,
	p.createddate,p.poststatus,p.ModifiedBy,p.ModifiedDate,p.CategoryId,p.UserId
	from post p inner join category c on c.categoryid=p.categoryid
	where c.CategoryId=@categoryId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByCategorySlug]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets posts based  on categoryid>
-- =============================================

-- Exec sp_GetPostsByCategorySlug 1

CREATE PROCEDURE [dbo].[sp_GetPostsByCategorySlug] 
	@categorySlug nvarchar(50)=0
AS
BEGIN
	SET NOCOUNT ON;

    select p.postid,p.title,p.shortdescription,p.postdescription,p.postmeta,p.posturlslug,p.ispublished,p.postedon,p.createdby,
	p.createddate,p.poststatus,p.ModifiedBy,p.ModifiedDate,p.CategoryId,p.UserId
	from post p inner join category c on c.categoryid=p.categoryid
	where c.CategoryUrlSlug=@categorySlug
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByPostId]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,8-nov-2017>
-- Description:	<Description,Gets all posts based on PostId>
-- =============================================

-- Exec sp_GetPostsByPostId '1'

CREATE PROCEDURE [dbo].[sp_GetPostsByPostId] 
	@postId bigint=0
AS
BEGIN

	SET NOCOUNT ON;

	SELECT postid,title,shortdescription,postdescription,postmeta,posturlslug,ispublished,postedon,createdby,
	createddate,poststatus,ModifiedBy,ModifiedDate,CategoryId,UserId
	from post where PostId=@postId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByPostUrlSlug]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,8-nov-2017>
-- Description:	<Description,Gets all posts based on PostUrlSlug>
-- =============================================

-- Exec sp_GetPostsByPostUrlSlug '1'

CREATE PROCEDURE [dbo].[sp_GetPostsByPostUrlSlug] 
	@postUrlSlug nvarchar(100)=0
AS
BEGIN

	SET NOCOUNT ON;

	SELECT postid,title,shortdescription,postdescription,postmeta,posturlslug,ispublished,postedon,createdby,
	createddate,poststatus,ModifiedBy,ModifiedDate,CategoryId,UserId
	from post where PostUrlSlug=@postUrlSlug
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsBySearch]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets all posts based on search text>
-- =============================================

-- Exec sp_GetPostsBySearch 'Javasc'

CREATE PROCEDURE [dbo].[sp_GetPostsBySearch] 
	@searchText nvarchar(100)=null
AS
BEGIN

	SET NOCOUNT ON;

	SELECT postid,title,shortdescription,postdescription,postmeta,posturlslug,ispublished,postedon,createdby,
	createddate,poststatus,ModifiedBy,ModifiedDate,CategoryId,UserId
	from post where Title like '%'+@searchText+'%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByTagId]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets all posts based on tag>
-- =============================================

-- Exec sp_GetPostsByTagSlug 'html'

CREATE PROCEDURE [dbo].[sp_GetPostsByTagId]
	@tagId bigint=0
AS
BEGIN
	SET NOCOUNT ON

	 select p.postid,p.title,p.shortdescription,p.postdescription,p.postmeta,p.posturlslug,p.ispublished,p.postedon,p.createdby,
		p.createddate,p.poststatus,p.ModifiedBy,p.ModifiedDate,p.CategoryId,p.UserId
		from post p inner join PostTagMap PTM on PTM.PostId=p.PostId inner join Tag t on t.TagId=PTM.TagId
		where t.TagId=@tagId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByTagSlug]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets all posts based on tag slug>
-- =============================================

-- Exec sp_GetPostsByTagSlug 'html'

CREATE PROCEDURE [dbo].[sp_GetPostsByTagSlug]
	@tagSlug nvarchar(50)=null
AS
BEGIN
	SET NOCOUNT ON

	 select p.postid,p.title,p.shortdescription,p.postdescription,p.postmeta,p.posturlslug,p.ispublished,p.postedon,p.createdby,
		p.createddate,p.poststatus,p.ModifiedBy,p.ModifiedDate,p.CategoryId,p.UserId
		from post p inner join PostTagMap PTM on PTM.PostId=p.PostId inner join Tag t on t.TagId=PTM.TagId
		where t.TagUrlSlug=@tagSlug
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetPostsByUserId]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,10-nov-2017>
-- Description:	<Description,Gets all posts based on UserId>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetPostsByUserId]
	@userId bigint=0
AS
BEGIN
	SET NOCOUNT ON;

    SELECT postid,title,shortdescription,postdescription,postmeta,posturlslug,ispublished,postedon,createdby,
	createddate,poststatus,ModifiedBy,ModifiedDate,CategoryId,Userid from Post where UserId=@userId
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTagByTagId]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets tag by tagslug>
-- =============================================

-- Exec sp_GetTagByTagId 1

CREATE PROCEDURE [dbo].[sp_GetTagByTagId]
	@tagId bigint=0
AS
BEGIN
	SET NOCOUNT ON;

	select T.TagId,T.TagName,T.TagUrlSlug,T.TagDescription,Count(P.PostId) as PostCount 
	from Tag T inner join PostTagMap PTM on PTM.TagId=T.TagId
	inner join Post P on P.PostId=PTM.PostId where T.TagId=@tagId group by T.TagId,T.TagName,T.TagUrlSlug,T.TagDescription
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetTagsByPostId]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Raviteja Swayampu>
-- Create date: <Create Date,7-nov-2017>
-- Description:	<Description,Gets all tag names based on postid>
-- =============================================

-- Exec sp_GetTagsByPostId 1

CREATE PROCEDURE [dbo].[sp_GetTagsByPostId]
	@postId bigint=0
AS
BEGIN
	SET NOCOUNT ON;

	SELECT T.TagId,T.TagName,T.TagUrlSlug,T.TagDescription,Count(P.PostId) as PostCount from Tag T
	inner join PostTagMap PTM on PTM.TagId=T.TagId 
	inner join Post P on PTM.PostId=P.PostId where P.PostId=@postId group by T.TagId,T.TagName,T.TagUrlSlug,T.TagDescription
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SavePostDetails]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC sp_SavePostDetails 0,'test title1','test_post desc','postmeta','posturlslug',true,null,null,1,null,101,1,1,null,'1,2,3'
CREATE PROCEDURE [dbo].[sp_SavePostDetails]
	@postId				bigint=0,
	@title				nvarchar(max)=null,
	@postDescription	nvarchar(max)=null,
	@postMeta			nvarchar(250)=null,
	@postUrlSlug		nvarchar(250)=null,
	@isPublished		bit,
	@postedOn			datetime=null,
	@modifiedDate		datetime=null,
	@createdBy			bigint=0,
	@createdDate		datetime=null,
	@postStatus			int=0,
	@categoryId			bigint=0,
	@userId				bigint=0,
	@modifiedBy			nvarchar(225)=null,
	@tagString			nvarchar(50)=null
AS
BEGIN
	DECLARE @tagRecords AS TABLE (ID INT IDENTITY(1,1),tId INT) --temp table
	-- inserting data into temp table 
		INSERT INTO @tagRecords(tId)   
		SELECT * FROM Split(@tagString,',') 
	DECLARE @id bigint 
	DECLARE @count int set @count=1
	DECLARE @tagCount int

	SET @tagCount=(SELECT COUNT(*) FROM @tagRecords)	

	IF(@postId is not null and @postId<>0)
	BEGIN
		UPDATE Post set Title=@title,PostDescription=@postDescription,PostMeta=@postMeta,PostUrlSlug=@postUrlSlug,IsPublished=@isPublished,
				PostedOn=@postedOn,ModifiedDate=@modifiedDate,CreatedBy=@createdBy,CreatedDate=@createdDate,PostStatus=@postStatus,CategoryId=@categoryId,
				UserId=@userId,ModifiedBy=@modifiedBy where PostId=@postId
		
		IF(@tagCount>0)		
		BEGIN		
			DELETE FROM PostTagMap where PostId=@postId
			WHILE (@count<=@tagCount)
			BEGIN				
				INSERT into PostTagMap(PostId,TagId) values(@postId,(select tId from @tagRecords where Id=@count))
				SET @count=@count+1
			END
		END
	END
	ELSE
	BEGIN		
		INSERT into Post(Title,PostDescription,PostMeta,PostUrlSlug,IsPublished,PostedOn,CreatedBy,CreatedDate,PostStatus,CategoryId,UserId)
				VALUES(@title,@postDescription,@postMeta,@postUrlSlug,@isPublished,@postedOn,@createdBy,@createdDate,@postStatus,@categoryId,@userId)						
		SET @id=SCOPE_IDENTITY()			  					
		IF(@tagCount>0)
		BEGIN		
			WHILE (@count<=@tagCount)
			BEGIN				
				INSERT into PostTagMap(PostId,TagId) values(@id,(select tId from @tagRecords where Id=@count))
				SET @count=@count+1
			END
		END
	END
END


GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Split](@String nvarchar(max), @Delimiter char(1))  
RETURNS @Results TABLE (Items nvarchar(max))  
AS  
    BEGIN  
    DECLARE @INDEX INT  
    DECLARE @SLICE nvarchar(max)  
    -- HAVE TO SET TO 1 SO IT DOESNT EQUAL Z  
    --     ERO FIRST TIME IN LOOP  
    SELECT @INDEX = 1  
    WHILE @INDEX !=0  
  
  
        BEGIN   
         -- GET THE INDEX OF THE FIRST OCCURENCE OF THE SPLIT CHARACTER  
         SELECT @INDEX = CHARINDEX(@Delimiter,@STRING)  
         -- NOW PUSH EVERYTHING TO THE LEFT OF IT INTO THE SLICE VARIABLE  
         IF @INDEX !=0  
          SELECT @SLICE = LEFT(@STRING,@INDEX - 1)  
         ELSE  
          SELECT @SLICE = @STRING  
         -- PUT THE ITEM INTO THE RESULTS SET  
         INSERT INTO @Results(Items) VALUES(@SLICE)  
         -- CHOP THE ITEM REMOVED OFF THE MAIN STRING  
         SELECT @STRING = RIGHT(@STRING,LEN(@STRING) - @INDEX)  
         -- BREAK OUT IF WE ARE DONE  
         IF LEN(@STRING) = 0 BREAK  
    END  
    RETURN  
END



--Ex:
--select items from dbo.split(columnname,',')
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](225) NOT NULL,
	[CategoryUrlSlug] [nvarchar](225) NOT NULL,
	[CategoryDescription] [nvarchar](225) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Post]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Post](
	[PostId] [bigint] IDENTITY(18,1) NOT NULL,
	[Title] [nvarchar](225) NOT NULL,
	[ShortDescription] [nvarchar](max) NULL,
	[PostDescription] [nvarchar](max) NULL,
	[PostMeta] [nvarchar](225) NOT NULL,
	[PostUrlSlug] [nvarchar](225) NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[PostedOn] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[CreatedDate] [datetime] NULL,
	[PostStatus] [int] NULL,
	[CategoryId] [bigint] NULL,
	[UserId] [bigint] NULL,
	[ModifiedBy] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[PostId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PostTagMap]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostTagMap](
	[PostId] [bigint] NOT NULL,
	[TagId] [bigint] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] NOT NULL,
	[RoleName] [nvarchar](30) NOT NULL,
	[RoleDescription] [nvarchar](225) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tag]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagId] [bigint] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](225) NOT NULL,
	[TagUrlSlug] [nvarchar](225) NOT NULL,
	[TagDescription] [nvarchar](225) NULL,
PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/6/2017 7:39:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [bigint] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [int] NOT NULL,
	[UserStatus] [int] NULL,
	[Gender] [nvarchar](20) NOT NULL,
	[Country] [nvarchar](100) NOT NULL,
	[Designation] [nvarchar](100) NULL,
	[RegistrationDate] [datetime] NOT NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Category] ON 

GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryUrlSlug], [CategoryDescription]) VALUES (1, N'First Category', N'first-ategory', N'this is first category buddy')
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryUrlSlug], [CategoryDescription]) VALUES (2, N'Programming', N'programming', NULL)
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName], [CategoryUrlSlug], [CategoryDescription]) VALUES (3, N'Humor', N'humor', NULL)
GO
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Post] ON 

GO
SET IDENTITY_INSERT [dbo].[Post] OFF
GO
INSERT [dbo].[PostTagMap] ([PostId], [TagId]) VALUES (1, 1)
GO
INSERT [dbo].[PostTagMap] ([PostId], [TagId]) VALUES (1, 1)
GO
INSERT [dbo].[PostTagMap] ([PostId], [TagId]) VALUES (2, 1)
GO
INSERT [dbo].[Roles] ([RoleId], [RoleName], [RoleDescription]) VALUES (1, N'ADMIN', N'ADMIN')
GO
INSERT [dbo].[Roles] ([RoleId], [RoleName], [RoleDescription]) VALUES (2, N'EDITOR', N'EDITOR')
GO
INSERT [dbo].[Roles] ([RoleId], [RoleName], [RoleDescription]) VALUES (3, N'AUTHOR', N'AUTHOR')
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

GO
INSERT [dbo].[Tag] ([TagId], [TagName], [TagUrlSlug], [TagDescription]) VALUES (1, N'CSharp', N'csharp', NULL)
GO
INSERT [dbo].[Tag] ([TagId], [TagName], [TagUrlSlug], [TagDescription]) VALUES (2, N'ASP', N'asp', NULL)
GO
INSERT [dbo].[Tag] ([TagId], [TagName], [TagUrlSlug], [TagDescription]) VALUES (3, N'ASP.NET', N'asp_net', NULL)
GO
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

GO
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [UserName], [Password], [Role], [UserStatus], [Gender], [Country], [Designation], [RegistrationDate], [Email]) VALUES (1, N'Raviteja', N'Swayampu', N'ravi', N'welcome', 1, 101, N'Male', N'India', N'Web Developer', CAST(0x0000A82000000000 AS DateTime), N'ravitejaswayampu@gmail.com')
GO
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [UserName], [Password], [Role], [UserStatus], [Gender], [Country], [Designation], [RegistrationDate], [Email]) VALUES (2, N'Sridhar', N'Thota', N'sri596', N'welcome', 2, 101, N'Male', N'India', N'Developer', CAST(0x0000A82800000000 AS DateTime), N'sreedhar596@gmail.com')
GO
INSERT [dbo].[Users] ([UserId], [FirstName], [LastName], [UserName], [Password], [Role], [UserStatus], [Gender], [Country], [Designation], [RegistrationDate], [Email]) VALUES (3, N'Avinash', N'Bodepudi', N'minnabhai', N'welcome', 3, 101, N'Male', N'India', N'Tester', CAST(0x0000A70E00000000 AS DateTime), N'avinash.bodepudi@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__tmp_ms_x__7CEA93FD1BC821DD]    Script Date: 12/6/2017 7:39:07 PM ******/
ALTER TABLE [dbo].[Post] ADD UNIQUE NONCLUSTERED 
(
	[PostUrlSlug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Post]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[PostTagMap]  WITH CHECK ADD FOREIGN KEY([PostId])
REFERENCES [dbo].[Post] ([PostId])
GO
ALTER TABLE [dbo].[PostTagMap]  WITH CHECK ADD FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([TagId])
GO
