
.margin-top-20px{
    margin-top:20px;
}
.margin-top-10px{
    margin-top:10px;
}
.margin-bottom-10px{
    margin-bottom:10px;
}
.width-100px{
    width:100px;
}

.Error_Msg{
    color:red;
    font-style:italic;
}