@model BlogEngine.Models.ListViewModel

@{
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

    @*<h1>@ViewBag.Title</h1>*@

    @*Paging at top*@
    @*@Html.Partial("_Pager",Model)*@

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate", post)
        }
    }
    else
    {
        <p>No posts found!</p>
    }

    @*Paging at end of post*@
    @*@Html.Partial("_Pager",Model)*@

