
@model List<BlogEngine.DTO.Comment>

<!-- comments
   ================================================== -->
<div class="comments-wrap">

    <div id="comments" class="row">
        <div class="col-full">

            <h3>@Model.Count Comments</h3>

            <!-- commentlist -->
            <ol class="commentlist">
                @if (Model.Count > 0)
                {
                    foreach (var comment in Model)
                    {
                        <li class="depth-1 comment">

                            <div class="comment__avatar">
                                <img width="50" height="50" class="avatar" src="@Url.Content("~/Content/themes/Hola10/images/avatars/CommentUser.jpg")" alt="">
                            </div>

                            <div class="comment__content">

                                <div class="comment__info">
                                    <cite>Itachi Uchiha</cite>

                                    <div class="comment__meta">
                                        <time class="comment__time">Sep 16, 2017 23:05</time>
                                        <span class="sep">|</span><a class="reply" href="#">Reply</a>
                                    </div>
                                </div>

                                <div class="comment__text">
                                    <p>
                                        Adhuc quaerendum est ne, vis ut harum tantas noluisse, id suas iisque mei. Nec te inani ponderum vulputate,
                                        facilisi expetenda has et. Iudico dictas scriptorem an vim, ei alia mentitum est, ne has voluptua praesent.
                                    </p>
                                </div>

                            </div>

                        </li>
                    }
                }                                          

            </ol> <!-- Commentlist End -->
            <!-- respond -->
            <div class="respond">

                <h3>Leave a Comment</h3>
                <input type="hidden" id="hdnPostId" value="@ViewBag.PostId" />
                <span id="spnAddCommentSuccessDisplay" style="color:green;display:none;"></span>

                <form name="contactForm" id="contactForm" method="post" action="">
                    <fieldset>
                        <div class="form-field">
                            <input name="cName" type="text" id="txt_comment_author_name" class="full-width" placeholder="Your Name" value="">
                            <span id="spntxt_comment_author_name" style="color:red;"></span>
                        </div>

                        <div class="form-field">
                            <input name="cEmail" type="text" id="txt_comment_author_email" class="full-width" placeholder="Your Email" value="">
                            <span id="spntxt_comment_author_email" style="color:red;"></span>
                        </div>

                        <div class="message form-field">
                            <textarea name="cMessage" id="txt_comment_content" class="full-width" placeholder="Your Message"></textarea>
                            <span id="spntxt_comment_content" style="color:red;"></span>
                        </div>

                        <button type="button" id="submit_comment" onclick="javascript:AddComment();" class="submit btn--primary">Submit</button>
                    </fieldset>
                </form> <!-- Form End -->

            </div> <!-- Respond End -->

        </div> <!-- end col-full -->
    </div> <!-- end row comments -->
</div> <!-- end comments-wrap -->

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    function AddComment()
    {
        if (validateForm()) {
            var objComment = {
                Comment_Id: 0,
                Comment_Content: $("#txt_comment_content").val(),
                Comment_Date: new Date(),
                Comment_Author: $("#txt_comment_author_name").val(),
                Comment_AuthorEmail: $("#txt_comment_author_email").val(),
                Comment_PostId: $("#hdnPostId").val()
            }

            $.ajax({
                url: 'Blog/SaveComment',
                method: 'POST',
                datatype: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(objComment),
                success: function (response) {
                    if (response.IsSucess == true) {
                        console.log("comment added successfully!");
                        $("#spnAddCommentSuccessDisplay").show();
                        $("#spnAddCommentSuccessDisplay").text("Comment submited for moderation");
                    }
                },
                error: function () {
                    console.log("Adding comment failed");
                }
            });
        }
    }

    function validateForm()
    {
        debugger;
        var re_email = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/i;
        var phoneReg= /([0-9]{10})|(\([0-9]{3}\)\s+[0-9]{3}\-[0-9]{4})/;
        var result = true;
        if ($("#txt_comment_author_name").val().trim() == "" || $("#txt_comment_author_name").val().trim() == undefined) {
            $("#spntxt_comment_author_name").show();
            $("#spntxt_comment_author_name").text("Name Required");
            result = false;
        }
        if ($("#txt_comment_author_email").val().trim() == "" || $("#txt_comment_author_email").val().trim() == undefined) {
            $("#spntxt_comment_author_email").show();
            $("#spntxt_comment_author_email").text("Email Required");
            result = false;
        }
        //else if (!re_email.test($("#txt_comment_author_email").val()) == false) {
        //    $("#spntxt_comment_author_email").show();
        //    $("#spntxt_comment_author_email").text("Please Enter Valid Email");
        //    result = false;
        //}
        if ($("#txt_comment_content").val().trim() == "" || $("#txt_comment_content").val().trim() == undefined) {
            $("#spntxt_comment_content").show();
            $("#spntxt_comment_content").text("Minimum 50 words Required");
            result = false;
        }
        return result;
    }
</script>