
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}

<section id="contact" class="s-contact target-section">

    <div class="overlay"></div>

    <div class="row narrow section-intro">
        <div class="col-full">
            <h1>What are you looking for?</h1>
            <p class="lead">Type the name of the post you are looking for.</p>
        </div>
    </div>

    <div class="row contact__main">
        <div class="col-twelve tab-full contact__form">
            @using (Html.BeginForm("Search","Blog",FormMethod.Post))
            {
                <fieldset>

                    <div class="form-field">
                        <input type="text" name="txtPostSearch" id="txtPostSearch" style="text-align:center;" placeholder="type here" value="" minlength="2" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input type="submit" class="full-width btn--primary" value="Submit" />
                    </div>

                </fieldset>
            }
        </div>       
    </div>

</section>

<script type="text/javascript">

    function SearchPosts() {
        var searchText = $("#txtPostSearch").val();
        if (searchText != null && searchText != "") {

            //window.location.href = "@Url.Action("Search","Blog")?searchText="+searchText+"&page=1";
        }
        else {
            alert("Please Enter text to search");
        }
    }

    $(function () {
        @*var postTitles=[];
        $.get(@Url.Action("GetAllPostTitles","Blog"),null,function(res){
            if(res!=null){
                postTitles=res;
            }
        });

        $("#txtPostSearch").autocomplete({
            source: postTitles,
            select:function(event,ui){
                window.location.href=ui.
            }
        });*@
    });
</script>

