
@model BlogEngine.Models.UserDropdowns
@{
    ViewBag.Title = "AddNewUser";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>
    <section class="content-header">
        <h1>Add New User</h1>
        <p>Create a brand new user and add them to this site.</p>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Add New User</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-10">
                <div class="box box-primary">
                    <div class="box-header">
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="UserName">User Name<i>(required)</i></label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtUserName" class="form-control" />
                                    <span style="display:none;" class="Error_Msg" id="spntxtUserName"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Password">Password<i>(required)</i></label>
                                <div class="col-sm-6">
                                    <input type="password" id="txtPassword" class="form-control" />
                                    <span style="display:none;" class="Error_Msg" id="spntxtPassword"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Email">Email<i>(required)</i></label>
                                <div class="col-sm-6">
                                    <input type="email" id="txtEmail" class="form-control" />
                                    <span style="display:none;" class="Error_Msg" id="spntxtEmail"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="FirstName">FirstName<i>(required)</i></label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtFirstName" class="form-control" />
                                    <span style="display:none;" class="Error_Msg" id="spntxtFirstName"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="LastName">LastName</label>
                                <div class="col-sm-6">
                                    <input type="text" id="txtLastName" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Gender">Gender<i>(required)</i></label>
                                <div class="radio col-sm-6">
                                    <label>
                                        <input type="radio" id="rdlMale" name="rdlGender" /><strong>Male</strong>
                                    </label>
                                    <label>
                                        <input type="radio" id="rdlFemale" name="rdlGender" /><strong>Female</strong>
                                    </label><br/>
                                    <span class="Error_Msg" style="display:none;" id="spnrdlGender"></span>
                                </div>                         
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Role">Role<i>(required)</i></label>
                                <div class="col-md-6">
                                    <select class="form-control" id="ddlRoles">
                                        <option value="">Select Role</option>
                                        @foreach (var role in Model.Roles)
                                        {
                                            <option value="@role.RoleId">@role.RoleName</option>
                                        }
                                    </select>
                                    <span class="Error_Msg" style="display:none;" id="spnddlRoles"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="Country">Country<i>(required)</i></label>
                                <div class="col-md-6">
                                    <select class="form-control" id="ddlCountry">
                                        <option value="">Select Country</option>
                                        @foreach (var country in Model.Countries)
                                        {
                                            <option value="@country.Id">@country.CountryName</option>
                                        }
                                    </select>
                                    <span class="Error_Msg" style="display:none;" id="spnddlCountry"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-4 control-label" for="userstatus">User Status<i>(required)</i></label>
                                <div class="col-md-6">
                                    <select class="form-control" id="ddlUserStatus">
                                        <option value="">Select Status</option>
                                        <option value="101">Active</option>
                                        <option value="102">Inactive</option>
                                    </select>
                                    <span class="Error_Msg" style="display:none;" id="spnddlUserStatus"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-4">
                                    <button type="button" onclick="javascript: addNewUser();" class="btn btn-primary">Add New User</button>
                                    <button type="button" onclick="javascript: resetUserForm();" class="btn btn-warning">Reset</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/Scripts/app/Account/addUser.js"></script>

