
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header">
    <h1>Posts<small>Manage Posts</small></h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Dashboard","Account")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Posts</li>
    </ol>
</section>

<div class="container" style="margin-top:20px;">
    <div class="row">
        <div class="col-md-4">
            WElcome buddysdfgsdgfdsg dgshsdhjdsf sdhg sjgfshd dsjgdkj giu giud giuyg d fiug  iu  iudgidugi dig udig  isu uis
        </div>
        <div class="col-md-4">
            WElcome buddysdfgsdgfdsg dgshsdhjdsf sdhg sjgfshd dsjgdkj giu giud giuyg d fiug  iu  iudgidugi dig udig  isu uissdfgsdg
            sdjfgsjkhdfsg
            dkjgdgdfg
        </div>
        <div class="col-md-4">
            kfgdskjf sfsdjfg sdjfgsdj WElcome buddysdfgsdgfdsg dgshsdhjdsf sdhg sjgfshd dsjgdkj giu giud giuyg d fiug  iu  iudgidugi dig udig  isu uisj
            rkjgrkghskjdnlsdkgsdgdssssssssssssgdf
            sgk
        </div>
    </div>
</div>