
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="content-header">
    <h1>@ViewBag.Title</h1>
<ol class="breadcrumb">
    <li><a href="@Url.Action("Dashboard","Account")"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
</ol>
</section>

