
@{
    ViewBag.Title = "NewPost";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>
    <section class="content-header">
        <h1>New Post</h1>
        
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Dashboard</a></li>
            <li class="active">Add New Post</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

