
@model List<BlogEngine.DTO.Tag>
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div>
    <section class="content-header">
        <h1>Tags</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Tags</li>
        </ol>
    </section>

    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <div class="box box-info">
                    <div class="box-header">
                        <h3 class="box-title">Add New Tag</h3>
                    </div>
                    <div class="box-body">
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="TagName">Name</label>
                                    <input type="text" class="form-control" id="txtTagName">
                                    <span id="spntxtTagName" class="Error_Msg" style="display:none;"></span>
                                    <p><i>The name is how it appears on your site.</i></p>
                                </div>
                                <div class="form-group">
                                    <label for="TagUrlSlug">Slug</label>
                                    <input type="text" class="form-control" onchange="javascript: checkIsSlugExists();" id="txtTagUrlSlug">
                                    <span id="spntxtTagUrlSlug" class="Error_Msg" style="display:none;"></span>
                                    <p><i>The “slug” is the URL-friendly version of the name. It is usually all lowercase and contains only letters, numbers, and hyphens.</i></p>
                                </div>
                                <div class="form-group">
                                    <label for="TagDescription">Description</label>
                                    <textarea rows="5" cols="40" class="form-control" id="txtTagDescription"></textarea>
                                    <span id="spntxtTagDescription" class="Error_Msg" style="display:none;"></span>
                                    <p><i>The description is not prominent by default; however, some themes may show it.</i></p>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button type="button" class="btn btn-primary" onclick="javascript:addNewTag();">Add New Tag</button>
                                <button type="button" class="btn btn-primary" onclick="javascript:resetForm();">Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="box box-info">
                    <div class="box-body">
                        <table id="tblTags" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Url Slug</th>
                                    <th>Post Count</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var tag in Model)
                                {
                                    <tr>
                                        <td>
                                            <h4><a href="#">@tag.TagName</a></h4>
                                            <span>
                                                <a href="#">Edit</a>|<a href="#">Delete</a>|<a href="#">View</a>
                                            </span>
                                        </td>
                                        <td>@tag.TagUrlSlug</td>
                                        <td><a href="#">@tag.PostCount</a></td>
                                        <td>@tag.TagDescription</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>            
        </div>
    </section>
</div>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/app/Account/Tags.js"></script>